{
    "arrowParens": "avoid",
    "semi": true,
    "tabWidth": 2,
    "useTabs": false,
    "vueIndentScriptAndStyle": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 120
}