[data-md-color-scheme="homebox"] {
  --md-primary-fg-color: #5b7f67;
  --md-primary-fg-color--light: #5b7f67;
  --md-primary-fg-color--dark: #90030c;
}



/* Site width etc.*/
.md-grid {
  max-width: 64rem !important;
}

.md-typeset table:not([class]) th {
  color: white;
  background-color: var(--md-primary-fg-color--light);
}

th {
  font-weight: bold;
}

.md-button {
  padding: 0.2rem 0.75rem !important;
}